<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.TClueMapper">

  <resultMap id="BaseResultMap" type="com.bjpowernode.entity.TClue">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="age" property="age" />
    <result column="phone" property="phone" />
    <result column="intention_course" property="intentionCourse" />
    <result column="intention_strength" property="intentionStrength" />
    <result column="source" property="source" />
    <result column="remark" property="remark" />
    <result column="trial_class_time" property="trialClassTime" />
    <result column="clue_status" property="clueStatus" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="linked_customer_id" property="customerId" />
  </resultMap>

  <resultMap id="DetailResultMap" type="com.bjpowernode.entity.TClue" extends="BaseResultMap">
    <association property="createByDO" javaType="com.bjpowernode.entity.TUser">
      <id column="createByUserId" property="id" />
      <result column="createByUserName" property="name" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, age, phone, intention_course, intention_strength, source, remark,
    trial_class_time, clue_status, create_by, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_clue where id = #{id}
  </select>

  <select id="selectDetailById" resultMap="DetailResultMap">
    select tc.*, u.id createByUserId, u.name createByUserName
    from t_clue tc left join t_user u on tc.create_by = u.id
    where tc.id = #{id}
  </select>

  <select id="selectByPage" resultMap="DetailResultMap">
    select tc.*, u.id createByUserId, u.name createByUserName, tcust.id linked_customer_id
    from t_clue tc
      left join t_user u on tc.create_by = u.id
      left join t_customer tcust on tcust.clue_id = tc.id
    <where>
      <if test="search != null">
        <if test="search.name != null and search.name != ''">and tc.name like concat('%',#{search.name},'%')</if>
        <if test="search.phone != null and search.phone != ''">and tc.phone like concat('%',#{search.phone},'%')</if>
        <if test="search.intentionCourse != null and search.intentionCourse != ''">and tc.intention_course like concat('%',#{search.intentionCourse},'%')</if>
        <if test="search.source != null and search.source != ''">and tc.source like concat('%',#{search.source},'%')</if>
        <if test="search.remark != null and search.remark != ''">and tc.remark like concat('%',#{search.remark},'%')</if>
        <if test="search.clueStatus != null and search.clueStatus != ''">and tc.clue_status = #{search.clueStatus}</if>
        <if test="search.createBy != null">and tc.create_by = #{search.createBy}</if>
        <if test="search.createTimeStart != null">and tc.create_time &gt;= #{search.createTimeStart}</if>
        <if test="search.createTimeEnd != null">and tc.create_time &lt;= #{search.createTimeEnd}</if>
        <if test="search.createTimePoint != null and search.createTimePointType == 'before'">and tc.create_time &lt;= #{search.createTimePoint}</if>
        <if test="search.createTimePoint != null and search.createTimePointType == 'after'">and tc.create_time &gt;= #{search.createTimePoint}</if>
        <if test="search.trialClassTimeStart != null">and tc.trial_class_time &gt;= #{search.trialClassTimeStart}</if>
        <if test="search.trialClassTimeEnd != null">and tc.trial_class_time &lt;= #{search.trialClassTimeEnd}</if>
        <if test="search.trialClassTimePoint != null and search.trialClassTimePointType == 'before'">and tc.trial_class_time &lt;= #{search.trialClassTimePoint}</if>
        <if test="search.trialClassTimePoint != null and search.trialClassTimePointType == 'after'">and tc.trial_class_time &gt;= #{search.trialClassTimePoint}</if>
        <if test="search.ageOp == 'eq' and search.ageValue != null">and tc.age = #{search.ageValue}</if>
        <if test="search.ageOp == 'gt' and search.ageValue != null">and tc.age &gt; #{search.ageValue}</if>
        <if test="search.ageOp == 'lt' and search.ageValue != null">and tc.age &lt; #{search.ageValue}</if>
        <if test="search.ageOp == 'between' and search.ageMin != null and search.ageMax != null">and tc.age between #{search.ageMin} and #{search.ageMax}</if>
        <if test="search.intentionStrengthOp == 'eq' and search.intentionStrengthValue != null">and tc.intention_strength = #{search.intentionStrengthValue}</if>
        <if test="search.intentionStrengthOp == 'gt' and search.intentionStrengthValue != null">and tc.intention_strength &gt; #{search.intentionStrengthValue}</if>
        <if test="search.intentionStrengthOp == 'lt' and search.intentionStrengthValue != null">and tc.intention_strength &lt; #{search.intentionStrengthValue}</if>
        <if test="search.intentionStrengthOp == 'between' and search.intentionStrengthMin != null and search.intentionStrengthMax != null">and tc.intention_strength between #{search.intentionStrengthMin} and #{search.intentionStrengthMax}</if>
      </if>
      <if test="baseQuery != null and baseQuery.filterSQL != null and baseQuery.filterSQL != ''">
        ${baseQuery.filterSQL}
      </if>
    </where>
    order by (tc.clue_status = '已转客户') asc,
             tc.intention_strength is null, tc.intention_strength desc,
             tc.trial_class_time is null, tc.trial_class_time asc,
             tc.id desc
  </select>

  <select id="selectByPageForExport" resultMap="DetailResultMap">
    select tc.*, u.id createByUserId, u.name createByUserName
    from t_clue tc left join t_user u on tc.create_by = u.id
    <where>
      <if test="idList != null and idList.size() > 0">
        and tc.id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">#{id}</foreach>
      </if>
      <if test="baseQuery != null and baseQuery.filterSQL != null and baseQuery.filterSQL != ''">
        ${baseQuery.filterSQL}
      </if>
    </where>
    order by (tc.clue_status = '已转客户') asc, tc.intention_strength desc, tc.id desc
  </select>

  <select id="selectTotalClueCount" resultType="java.lang.Integer">
    select count(1) from t_clue
  </select>

  <select id="selectClueSourceCount" resultType="com.bjpowernode.vo.NameValueData">
    select ifnull(source, '未知') name, count(1) value
    from t_clue
    group by source
  </select>

  <delete id="deleteByPrimaryKey">
    delete from t_clue where id = #{id}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="com.bjpowernode.entity.TClue">
    insert into t_clue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">name,</if>
      <if test="age != null">age,</if>
      <if test="phone != null">phone,</if>
      <if test="intentionCourse != null">intention_course,</if>
      <if test="intentionStrength != null">intention_strength,</if>
      <if test="source != null">source,</if>
      <if test="remark != null">remark,</if>
      <if test="trialClassTime != null">trial_class_time,</if>
      <if test="clueStatus != null">clue_status,</if>
      <if test="createBy != null">create_by,</if>
      <if test="createTime != null">create_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">#{name},</if>
      <if test="age != null">#{age},</if>
      <if test="phone != null">#{phone},</if>
      <if test="intentionCourse != null">#{intentionCourse},</if>
      <if test="intentionStrength != null">#{intentionStrength},</if>
      <if test="source != null">#{source},</if>
      <if test="remark != null">#{remark},</if>
      <if test="trialClassTime != null">#{trialClassTime},</if>
      <if test="clueStatus != null">#{clueStatus},</if>
      <if test="createBy != null">#{createBy},</if>
      <if test="createTime != null">#{createTime},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.bjpowernode.entity.TClue">
    update t_clue
    <set>
      <if test="name != null">name = #{name},</if>
      <if test="age != null">age = #{age},</if>
      <if test="phone != null">phone = #{phone},</if>
      <if test="intentionCourse != null">intention_course = #{intentionCourse},</if>
      <if test="intentionStrength != null">intention_strength = #{intentionStrength},</if>
      <if test="source != null">source = #{source},</if>
      <if test="remark != null">remark = #{remark},</if>
      <if test="trialClassTime != null">trial_class_time = #{trialClassTime},</if>
      <if test="clueStatus != null">clue_status = #{clueStatus},</if>
    </set>
    where id = #{id}
  </update>
</mapper>
