<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpowernode.mapper.TTranMapper">

  <resultMap id="BaseResultMap" type="com.bjpowernode.entity.TTran">
    <id column="id" property="id" />
    <result column="tran_no" property="tranNo" />
    <result column="customer_id" property="customerId" />
    <result column="student_name" property="studentName" />
    <result column="money" property="money" />
    <result column="create_by" property="createBy" />
    <result column="deal_time" property="dealTime" />
    <result column="course_type" property="courseType" />
    <result column="tran_remark" property="tranRemark" />
    <result column="create_time" property="createTime" />
  </resultMap>

  <resultMap id="DetailResultMap" type="com.bjpowernode.entity.TTran" extends="BaseResultMap">
    <association property="createByDO" javaType="com.bjpowernode.entity.TUser">
      <id column="createByUserId" property="id" />
      <result column="createByUserName" property="name" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, tran_no, customer_id, student_name, money, create_by, deal_time, course_type, tran_remark, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_tran where id = #{id}
  </select>

  <select id="selectDetailById" resultMap="DetailResultMap">
    select tt.*, u.id createByUserId, u.name createByUserName
    from t_tran tt left join t_user u on tt.create_by = u.id
    where tt.id = #{id}
  </select>

  <select id="selectPage" resultMap="DetailResultMap">
    select tt.*, u.id createByUserId, u.name createByUserName
    from t_tran tt left join t_user u on tt.create_by = u.id
    order by tt.deal_time is null, tt.deal_time desc, tt.id desc
  </select>

  <select id="selectPageForExport" resultMap="DetailResultMap">
    select tt.*, u.id createByUserId, u.name createByUserName
    from t_tran tt left join t_user u on tt.create_by = u.id
    <where>
      <if test="idList != null and idList.size() > 0">
        and tt.id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">#{id}</foreach>
      </if>
    </where>
    order by tt.deal_time desc, tt.id desc
  </select>

  <select id="selectSuccessTranAmount" resultType="java.math.BigDecimal">
    select ifnull(sum(money), 0) from t_tran
  </select>
  <select id="selectTotalTranAmount" resultType="java.math.BigDecimal">
    select ifnull(sum(money), 0) from t_tran
  </select>
  <select id="selectTotalTranCount" resultType="java.lang.Integer">
    select count(1) from t_tran
  </select>
  <select id="selectSuccessTotalCount" resultType="java.lang.Integer">
    select count(1) from t_tran
  </select>

  <delete id="deleteByPrimaryKey">
    delete from t_tran where id = #{id}
  </delete>

  <delete id="deleteByCustomerId">
    delete from t_tran where customer_id = #{customerId}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
    insert into t_tran
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tranNo != null">tran_no,</if>
      <if test="customerId != null">customer_id,</if>
      <if test="studentName != null">student_name,</if>
      <if test="money != null">money,</if>
      <if test="createBy != null">create_by,</if>
      <if test="dealTime != null">deal_time,</if>
      <if test="courseType != null">course_type,</if>
      <if test="tranRemark != null">tran_remark,</if>
      <if test="createTime != null">create_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tranNo != null">#{tranNo},</if>
      <if test="customerId != null">#{customerId},</if>
      <if test="studentName != null">#{studentName},</if>
      <if test="money != null">#{money},</if>
      <if test="createBy != null">#{createBy},</if>
      <if test="dealTime != null">#{dealTime},</if>
      <if test="courseType != null">#{courseType},</if>
      <if test="tranRemark != null">#{tranRemark},</if>
      <if test="createTime != null">#{createTime},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective">
    update t_tran
    <set>
      <if test="studentName != null">student_name = #{studentName},</if>
      <if test="money != null">money = #{money},</if>
      <if test="dealTime != null">deal_time = #{dealTime},</if>
      <if test="courseType != null">course_type = #{courseType},</if>
      <if test="tranRemark != null">tran_remark = #{tranRemark},</if>
    </set>
    where id = #{id}
  </update>
</mapper>
